.devcontainer/.bash_history
bin/
**/build/
**/__pycache__/
**generatedTorchLib/
**generatedFiles/
*_gen.h
*_gen.cpp
src/thunder_robot/robots/**
src/thunder_robot/library/**
src/thunder_robot/src/**
src/thunder_robot_chrono/robots/**
src/thunder_robot_chrono/library/**
src/thunder_robot_chrono/src/**
src/thunder_control/robots/**
src/thunder_control/library/**
src/thunder_control/src/**
!src/thunder_robot/robots/.gitkeep
!src/thunder_robot/library/.gitkeep
!src/thunder_robot/src/.gitkeep
!src/thunder_robot_chrono/robots/.gitkeep
!src/thunder_robot_chrono/library/.gitkeep
!src/thunder_robot_chrono/src/.gitkeep
!src/thunder_control/robots/.gitkeep
!src/thunder_control/library/.gitkeep
!src/thunder_control/src/.gitkeep
src/thunder_control/scripts/c_generated_code_frankino_throw/**
src/thunder_control/scripts/c_generated_code_tracking/**
src/thunder_control/plots/**
src/thunder_control/scripts/Untitled-2.py
src/thunder_control/scripts/test_function.py
src/thunder_control/scripts/simulazione_franka.py
src/thunder_control/scripts/plot_launch.py
src/thunder_control/scripts/main_franka_mpc_1.cpp
src/thunder_control/scripts/generate_distances.py
src/thunder_control/scripts/DistanceFunctions.py
src/thunder_control/scripts/prova_solver_autocollisioni.py