bin/
**/tmp/
**/build/
**/__pycache__/
**generatedFiles/
**generatedTorchLib/
*_gen.h
*_gen.cpp
src/thunder_robot_test/robots/**
src/thunder_robot_test/include/**
src/thunder_robot_test/src/**
src/thunder_control/robots/**
src/thunder_control/include/**
src/thunder_control/src/**
!src/thunder_robot_test/robots/.gitkeep
!src/thunder_robot_test/include/.gitkeep
!src/thunder_robot_test/src/.gitkeep
!src/thunder_control/robots/.gitkeep
!src/thunder_control/include/.gitkeep
!src/thunder_control/src/.gitkeep
.devcontainer/.bash_history
.devcontainer/commandhistory/.bash_history
